ul.Links{
    padding: 0px;
    background-color:darkslategrey;
    text-align: center;
    
}

ul.Links >li{
    display: inline-block;
    padding: 12px 40px;
    color:black;
    font-size: large;
}
ul.Links > li:hover{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color:cornflowerblue;
}

hr.footer{
    position: absolute;
    bottom: 0;
}

ul.projectList{
    text-align: center;
    position: relative;
    left: -1.25%;
    top: 60px;
}

ul.projectList > li{
    display: inline-block;
    padding: 0px 40px;
}

p.introGraph{
    position:relative;
    top: -25px;
    background-color: black;
    color: white;
    text-align: center;
}
