ul.Links{
    padding: 0px;
    background-color:darkslategrey;
    text-align: center;
    
}

ul.Links >li{
    display: inline-block;
    padding: 12px 40px;
    color:black;
    font-size: large;
}
ul.Links > li:hover{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color:cornflowerblue;
   
}


ul.projectList{
    text-align: center;
    position: relative;
    left: 0;
    top: 60px;
}

ul.projectList > li{
    display: inline-block;
    padding: 0px 40px;
}

p.introGraph{
    position:relative;
    top: -25px;
    background-color: black;
    color: white;
    text-align: center;
}

p.gameDescription{
    color: white;
    width: 80%;
    left: 8%;
}
p.gameDescription2{
    color: white;
    width: 80%;
    left: 8%;

}

p.jumpCodeP0{
    position: inherit;

    top:8%;
    left:48%;
    padding-right: 5%;
    line-height: 2;
}

p.jumpCodeP1{
    position: inherit;

    top:40%;
    left:55%;

    padding-right: 3%;
    line-height: 2;
}

p.jumpCodeP2{
    position: inherit;

    top:60%;
    left:48%;
    
    padding-right: 5%;
    line-height: 2;
}

div.JumpCodeDiv{
    position: absolute;
    top:110%;
    width: 95%;
    height: 1200px;
    padding-bottom: 5%;
    left:2.5%;
    
}

div.MapBuilderDiv{
    position: absolute;
    width: 95%;
    padding-bottom: 5%;
    left: 2.5%;
}

img.AutoMaticTitle{
    width: 375px;
    position: absolute;
    top: 65%;
    left: 10%;
}

img.AutoMaticSideGif{
    width: 375px;
    position: absolute;
    top: 64.5%;
    left: 38%;
}

img.AutoMaticTopGif{
    width: 375px;
    position: absolute;
    top: 64.5%;
    left: 66%;
}

img.LoCTitle{
    width: 375px;
    position: absolute;
    top:55%;
    left: 10%;
}

img.LoCPreBoss{
    width: 25%;
    position: absolute;
    left: 35.25%;
    height: 30%;
    top:53%;  
}

img.LoCGamePlay{
    width: 375px;
    position: absolute;
    left: 65%;
    top:55%;
}

img.jumpSample0{
    width: 600px;
    position: inherit;

    top:5%;
    left:2%;
}

img.jumpSample1{
    width: 740px;   
    position: inherit;

    top:35%;
    left: 2%;
}

img.jumpSample2{
    width: 600px;
    position: inherit;

    top: 55.5%;
    left: 2%;
}

#Footer.footer{
    width: 100%;
}
